
@{
    ViewBag.Title = "_DateTime";
}

<h2>_DateTime</h2>
<h2>
    We Name Partial View Page as _ mean There is Contniue  
    and we call it every where 
    @DateTime.Now.ToString("yy/mm/dd")
</h2>

